# MongoDB connection string
DB_CONNECTION_STRING=mongodb://db:{port}/{database}
MONGO_PASSWORD=superSecretAndLongPassword

# Application port
PORT={port}

# Environment
NODE_ENV={production/development}

# Docker image
IMAGE_NAME={IMAGE_NAME}

# BASE URL
API_BASE_URL={SERVER URL}